# Exploration

In this notebook we explore different aspects of the given earthquake data.

### Preliminaries

Import the required dependencies.

In [2]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
from src.features import build_features
# from src.data import make_dataset 
# commented out because: there seems to be an issue at the moment with the initial method from make_dataset
from src.models import train_model
from src.models import predict_model
from src.visualization import visualize

ModuleNotFoundError: No module named 'src'

Load the data.

In [3]:
train_df = pd.read_csv('../data/raw/train_values.csv')
target_df = pd.read_csv('../data/raw/train_labels.csv')

# Check the shape of the loaded data
print("Shape of traing data:", train_df.shape)
print("Shape of target data:", target_df.shape)

Shape of traing data: (260601, 39)
Shape of target data: (260601, 2)

### General Properties

In [4]:
pd.options.display.max_columns = None
train_df.head(10)

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,n,f,q,t,d,1,1,0,0,0,0,0,0,0,0,0,v,1,0,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,n,x,q,s,d,0,1,0,0,0,0,0,0,0,0,0,v,1,0,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,n,f,x,t,d,0,1,0,0,0,0,0,0,0,0,0,v,1,0,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,n,f,x,s,d,0,1,0,0,0,0,1,1,0,0,0,v,1,0,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,n,f,x,s,d,1,0,0,0,0,0,0,0,0,0,0,v,1,0,0,0,0,0,0,0,0,0,0,0
5,333020,8,558,6089,2,10,9,5,t,r,n,f,q,s,d,0,1,0,0,0,0,0,0,0,0,0,v,1,1,1,0,0,0,0,0,0,0,0,0
6,728451,9,475,12066,2,25,3,4,n,r,n,x,q,s,d,0,1,0,0,0,0,0,0,0,0,0,v,1,0,0,0,0,0,0,0,0,0,0,0
7,475515,20,323,12236,2,0,8,6,t,w,q,v,x,s,u,0,0,0,0,0,1,1,0,0,0,0,v,1,0,0,0,0,0,0,0,0,0,0,0
8,441126,0,757,7219,2,15,8,6,t,r,q,f,q,s,d,0,1,0,0,0,0,1,0,0,0,0,v,1,0,0,0,0,0,0,0,0,0,0,0
9,989500,26,886,994,1,0,13,4,t,i,n,v,j,s,d,0,0,0,0,0,1,0,0,0,0,0,v,1,0,0,0,0,0,0,0,0,0,0,0

#### Feature Description
In the following the features of the dataset are described. This is done by evaluating the name, datatype and values of the feature to try to predict its usage. Features that need deeper analysis are further described after the following list:

1. `building_id` which seems to be used to identify each unique building.
2. `count_floors_pre_eq` seems to be the number of floors the building had before the earthquake happend
4. `age` seems to be the age of the building before it was destroyed
5. `area_percentage` maybe the amount of buildings in an area 
6. `height_percentage` likely the height of the building before it was destroyed
7. `count_families` seems to be the amount of families that lived in the building

Deeper analysis

1. `geo_level_1_id`, `geo_level_2_id`, `geo_level_3_id` (unkown)
5. `area_percentage` maybe the amount of buildings in an area 
7. `land_surface_condition` likely the condition the surface of the ground of the building had before the earthquake
8. `foundation_type` as the name suggests this seems to be the type of the foundation the building was built 
9. `roof_type`, `ground_floor_type`, `other_floor_type` as the name suggest this seems to be the type of the roof and floors the building had. It seems like only to types of floors where recorded
10. `position` (unkown)
11. `plan_configuration` (unkown)
13. `legal_ownership_status`
8. `has_secondary_use` seems to be a flag that
12. `has_superstructure..` likely a one hot encoded feature that represents the type of the superstructure

<b>analysis for `geo_level_1_id`, `geo_level_2_id`, `geo_level_3_id`</b>

In [5]:
train_df.area_percentage.value_counts()

6      42013
7      36752
5      32724
8      28445
9      22199
       ...
55         1
80         1
90         1
82         1
100        1
Name: area_percentage, Length: 84, dtype: int64

In [6]:
train_df.legal_ownership_status.value_counts()
train_df.has_secondary_use.value_counts()

0    231445
1     29156
Name: has_secondary_use, dtype: int64

In [7]:
target_df.head(10)

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3
5       333020             2
6       728451             3
7       475515             1
8       441126             2
9       989500             1

In [8]:
# Merge train and target for insights
merged_df = pd.concat([train_df.drop('building_id', axis=1), target_df.drop('building_id', axis=1)], axis=1)

# Check for any null-values in DataFrame
merged_df.isnull().any().any()

False

In [12]:
# Select numeric columns in DataFrame
columns_numeric = merged_df.select_dtypes(include=np.number).columns

# Select object columns in DataFrame
columns_object = merged_df.select_dtypes(include=['object']).columns

### Analysis of the distribution of individual features

### Analysis of missing and default values, as well as finding uninformative columns

### Analysis of relationships between features

### Analysis of relationships of features to target

### Conclusions